<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Afvink4</title>
</head>
<body>
<h3>Afvinkopdracht 4</h3>

<p>Vul de DNA sequentie in:</p>
<form method="post">
    <textarea name="seq" cols="50" rows="3">
    </textarea>
    <input type="submit">
    <br>
    <br>
    <p>Type sequentie: {{ type }}</p>
    <p>Transcript (alleen DNA seq): {{ transcript }}</p>
    <p>Translatie: {{ translatie }}</p>
    <p>Mogelijk eiwit (alleen DNA seq): {{ desc }}</p>
</form>
</body>
</html>